<section class="px-8 py-10 mx-auto max-w-screen-lg">
  <div class="leading-snug">
    <h2 class="mt-4 text-2xl font-bold text-gray-800 mb-8">
      Découvrez nos <span class="text-sky-700"> activités </span>
    </h2>
    <p class="md:text-lg">
      Nous organisons des conférences annuelles, appelées "Utajiri event", pour l'éveil de la conscience des jeunes
      entrepreneurs et des femmes. En plus de cela, nous sommes engagés dans l'élevage (oies, porcs, poules, chèvres) et
      l'agriculture (palmiers, sapins, noix de cajou, maïs, soja, arachide, ananas). Nous investissons également dans le
      secteur de l'énergie, en particulier l'énergie solaire, la biomasse et l'électricité avec la SNEL.
    </p>
  </div>

  <div class="grid grid-cols-1 items-center content-center mt-16">
    @for (activitie of activities; track $index) {
    <div class="grid grid-cols-1 md:grid-cols-2 mb-20 gap-10 items-center">
      <div class="relative w-full h-60 md:h-80 mt-5 lg:mt-0  z-10 {{ $index % 2 !== 0 ? 'md:order-last' : '' }}">
        <img class="object-cover rounded-lg" [ngSrc]="activitie.image" alt="hero" fill />
      </div>
      <div
        class="bg-white rounded-lg p-8 shadow-xl z-40 -mt-10 md:-mt-0 relative {{
          $index % 2 !== 0 ? 'md:-mr-20' : 'md:-ml-20'
        }}">
        <span
          class="absolute -top-2 -right-1 rounded-full p-2 w-8 flex flex-col items-center justify-center font-bold h-8 text-lg bg-sky-600 text-white">
          {{ $index + 1 }}
        </span>
        <h2 class="font-extrabold mb-4 text-2xl">{{ activitie.title }}</h2>
        <p class="text-gray-700">{{ activitie.description }}</p>
      </div>
    </div>
    }
  </div>
</section>
