<section class="mb-20 text-white">
  <div
    class="relative min-h-screen py-80 w-full flex flex-col bg-[url('/images/hero.jpeg')] bg-center bg-cover bg-no-repeat">
    <div
      @fadeInStagger
      class="absolute top-0 left-0 right-0 bottom-0 flex flex-col items-start justify-center bg-sky-900/80 gap-6 text-white">
      <div class="px-8 md:px-32">
        <h1 class="fade-item font-extrabold mt-20 mb-10 text-4xl md:text-5xl leading-10">
          Inspirez, Éveillez,
          <span class="text-sky-400">Transformez </span>
        </h1>
        <div class="self-start mt-10">
          <h5 class="font-medium text-lg mb-8 md:text-5xl fade-item">Oies services sarl</h5>
          <ul class="grid grid-cols-2 gap-4">
            @for (activity of activities; track $index) {
            <li class="fade-item flex items-center font-light gap-2 text-sm md:text-lg">
              <span class="fill-sky-400 h-3 w-3">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                  <path
                    d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z" />
                </svg>
              </span>
              {{ activity }}
            </li>
            }
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
