<header class="mb-20 bg-hero bg-center bg-no-repeat bg-cover text-white">
  <div
    class="px-8 py-48 md:py-90 md:pb-64 md:px-32 flex flex-col items-center justify-center bg-black bg-opacity-90 gap-6 text-2xl md:text-4xl">
    <div class="max-w-screen-md flex flex-col items-start justify-center">
      <h1 class="font-bold font-space mt-20 mb-10 text-4xl md:text-6xl">
        Inspirez, Éveillez et
        <span class="text-sky-600">Transformez</span>
      </h1>
      <p class="font-light text-lg mb-8 md:text-2xl">
        Rejoignez notre conférence annuelle dédiée à l'éveil de la conscience des jeunes entrepreneurs et des femmes.
        Découvrez des parcours inspirants, développez votre potentiel, et connectez-vous avec des leaders visionnaires.
        Ensemble, façonnons l'avenir avec audace et créativité.
      </p>
    </div>
  </div>
</header>
