<section class="bg-white text-gray-800 px-8 py-20 mx-auto max-w-screen-lg mb-20 mt-20">
  <div class="grid grid-cols-1 md:grid-cols-2 items-center content-center gap-5 md:gap-20">
    <div class="relative w-full h-52 md:h-80 mt-5 lg:mt-0">
      <img class="object-cover rounded-md" ngSrc="/images/about.jpeg" alt="hero" fill />
    </div>
    <div class="leading-snug">
      <h2 class="mt-4 text-center text-2xl font-bold text-gray-800 font-space md:text-start mb-8">
        À propos de <span class="text-sky-700">nous</span>
      </h2>
      <p class="md:text-lg">
        Notre mission est de transformer l'avenir en éveillant la conscience des jeunes entrepreneurs et des femmes.
        Chaque année, nous organisons des conférences et des ateliers dédiés à l'inspiration, l'éducation et le soutien
        des leaders de demain. Nous croyons en l'importance de l'innovation, de la créativité et des connexions humaines
        pour bâtir un monde meilleur. Rejoignez-nous pour une expérience enrichissante, où les idées se transforment en
        actions et les rêves en réalités.
      </p>
    </div>
  </div>
</section>
