<header class="fixed top-0 w-full bg-white shadow-lg">
  <nav class="flex items-center justify-between px-8">
    <a href="">
      <div class="relative h-20 w-24">
        <img ngSrc="/images/logo.jpeg" alt="Logo" fill priority />
      </div>
    </a>
    <ul class="flex items-center gap-5">
      <li>
        <a href="tel:+2348031234567">
          <i class="bi bi-telephone stroke-black"></i>
        </a>
      </li>
      <li>
        <a href="mailto:hugette@gmail.com">
          <i class="bi bi-envelope stroke-black"></i>
        </a>
      </li>
    </ul>
  </nav>
</header>
