<header class="absolute top-0 left-0 right-0 z-10 text-white w-full px-10 py-12 md:px-32">
  <nav class="flex items-center justify-between =">
    <a href="">
      <div class="relative h-16 w-16 rounded-full overflow-hidden">
        <img ngSrc="/images/logo.jpeg" alt="Logo" fill priority />
      </div>
    </a>
    <ul class="flex items-center gap-5">
      <li>
        <a href="tel:+2348031234567" class="flex items-center gap-2">
          <i class="bi bi-telephone stroke-black"></i>
          <span class="hidden md:block">+234 803 123 4567 </span>
        </a>
      </li>
      <li>
        <a href="mailto:hugette@gmail.com" class="flex items-center gap-2">
          <i class="bi bi-envelope stroke-black"></i>
          <span class="hidden md:block"> hugette&#64;gmail.com </span>
        </a>
      </li>
    </ul>
  </nav>
</header>
