<header class="absolute top-0 left-0 right-0 z-20 text-white w-full px-10 py-12 md:px-32 fade-in-1">
  <nav class="flex items-center justify-between =">
    <a href="">
      <div class="relative h-10 w-10 rounded-full overflow-hidden">
        <img ngSrc="/images/logo.jpeg" alt="Logo" fill priority />
      </div>
    </a>
    <ul class="flex flex-col md:flex-row md:items-center md:gap-5">
      <li>
        <a href="tel:+2348031234567" class="flex items-center gap-2">
          <!-- <img src="/icons/telephone-forward-fill.svg" alt="" /> -->
          <span class="fill-white h-4 w-4">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
              <path
                d="M164.9 24.6c-7.7-18.6-28-28.5-47.4-23.2l-88 24C12.1 30.2 0 46 0 64C0 311.4 200.6 512 448 512c18 0 33.8-12.1 38.6-29.5l24-88c5.3-19.4-4.6-39.7-23.2-47.4l-96-40c-16.3-6.8-35.2-2.1-46.3 11.6L304.7 368C234.3 334.7 177.3 277.7 144 207.3L193.3 167c13.7-11.2 18.4-30 11.6-46.3l-40-96z" />
            </svg>
          </span>
          <span class="">+234 811 583 939</span>
        </a>
      </li>
      <li class="hidden md:block">
        <a href="mailto:hugette@gmail.com" class="flex items-center gap-2">
          <span class="fill-white h-4 w-4">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
              <!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
              <path
                d="M64 112c-8.8 0-16 7.2-16 16l0 22.1L220.5 291.7c20.7 17 50.4 17 71.1 0L464 150.1l0-22.1c0-8.8-7.2-16-16-16L64 112zM48 212.2L48 384c0 8.8 7.2 16 16 16l384 0c8.8 0 16-7.2 16-16l0-171.8L322 328.8c-38.4 31.5-93.7 31.5-132 0L48 212.2zM0 128C0 92.7 28.7 64 64 64l384 0c35.3 0 64 28.7 64 64l0 256c0 35.3-28.7 64-64 64L64 448c-35.3 0-64-28.7-64-64L0 128z" />
            </svg>
          </span>
          <span class=""> safarihuguette882&#64;gmail.com </span>
        </a>
      </li>
    </ul>
  </nav>
</header>
