<footer
  class="border-t py-10 px-8 max-w-screen-lg mx-auto flex flex-col items-start md:items-center justify-between md:flex-row gap-7">
  <div class="flex flex-col">
    <p>
      &copy; 2024 - <a href="https://www.linkedin.com/in/abdelhakimboussaid/" target="_blank">oies services SARL</a>
    </p>
    <p class="mt-2">Tous droits réservés</p>
  </div>
  <div class="flex flex-col gap-2">
    <a href="mailto:hugette@gmail.com" class="flex items-center gap-2">
      <span class="fill-dark h-4 w-4">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
          <path
            d="M64 112c-8.8 0-16 7.2-16 16l0 22.1L220.5 291.7c20.7 17 50.4 17 71.1 0L464 150.1l0-22.1c0-8.8-7.2-16-16-16L64 112zM48 212.2L48 384c0 8.8 7.2 16 16 16l384 0c8.8 0 16-7.2 16-16l0-171.8L322 328.8c-38.4 31.5-93.7 31.5-132 0L48 212.2zM0 128C0 92.7 28.7 64 64 64l384 0c35.3 0 64 28.7 64 64l0 256c0 35.3-28.7 64-64 64L64 448c-35.3 0-64-28.7-64-64L0 128z" />
        </svg>
      </span>
      <span class="text-gray-600">oiesservicessarl&#64;gmail.com </span>
    </a>
    <h1>1572, avenue kasavubu - Lubumbashi RDC</h1>
  </div>
</footer>
