<div class="max-w-screen-lg mx-auto px-6">
  <h2 class="text-2xl font-bold text-gray-800 fade-in-7">
    Nos objectifs <span class="text-sky-700">stratégiques</span>
  </h2>
  <div class="mt-10 grid gap-8 sm:grid-cols-2 lg:grid-cols-3">
    @for (goal of goals; track $index) {
    <div class="p-8 md:px-8 rounded-3xl bg-white border border-gray-100 bg-opacity-50 shadow-2xl shadow-gray-600/10">
      <div class="flex h-10 w-10 items-center justify-center rounded-full bg-sky-900 mb-4">
        <span class="font-bold text-sky-50">
          <i [class]="goal.icon"></i>
        </span>
      </div>
      <h3 class="text-lg font-semibold text-gray-800 transition mb-5">
        {{ goal.title }}
      </h3>
      <p class="text-gray-600">
        {{ goal.description }}
      </p>
    </div>
    }
  </div>
</div>
